.tab-container {
	display: flex;
}
.tabList {
	display: flex;
	flex-direction: column;
	margin-top: 0;
	width: 25vw;
}
.tabList li {
	list-style: none;
	padding: 5px 10px;
	border: 1px solid #ccc;
	background: #ccc;
	cursor: pointer;
	font-size: 24px;
	color: #333;
}
.tabList li:hover,
.tabList li.actived {
	background: #fff;
	color: orange;
}
.tabBody {
	margin-right: 10px;
	width: 75vw;
	min-height: 100px;
	background: #fff;
	color: #333;
}